{"openapi":"3.0.1","info":{"title":"API REST do Portal da TransparÃªncia do Governo Federal","contact":{"name":"Diretoria de Tecnologia da InformaÃ§Ã£o - DTI","url":"https://www.cgu.gov.br","email":"listaapitransparencia@cgu.gov.br"},"license":{"name":"Decreto nÂº 8.777, de 11 de maio de 2016","url":"https://www.planalto.gov.br/ccivil_03/_ato2015-2018/2016/decreto/d8777.htm"},"version":"1.0"},"externalDocs":{"description":"Changelog","url":"/changelog"},"servers":[{"url":"https://api.portaldatransparencia.gov.br","description":"Generated server url"}],"security":[{"Authorization":[]}],"paths":{"/api-de-dados/viagens":{"get":{"tags":["Viagens a serviÃ§o"],"summary":"Consulta viagens por perÃ­odo","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1);  PerÃ­odo de no mÃ¡ximo 1 mÃªs; CÃ³digo do ÃrgÃ£o (SIAFI)","operationId":"viagensPorPeriodoEOrgao","parameters":[{"name":"dataIdaDe","in":"query","description":"Data de ida a partir de (DD/MM/AAAA)","required":true,"schema":{"type":"string"}},{"name":"dataIdaAte","in":"query","description":"Data de ida atÃ© (DD/MM/AAAA)","required":true,"schema":{"type":"string"}},{"name":"dataRetornoDe","in":"query","description":"Data de retorno a partir de (DD/MM/AAAA)","required":true,"schema":{"type":"string"}},{"name":"dataRetornoAte","in":"query","description":"Data de retorno atÃ© (DD/MM/AAAA)","required":true,"schema":{"type":"string"}},{"name":"codigoOrgao","in":"query","description":"<a href='/swagger-ui/index.html#/ÃrgÃ£os/orgaosSiafi' target=\"_blank\">CÃ³digo do ÃrgÃ£o (SIAFI)</a>","required":true,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ViagemDTO"}}}}}}}},"/api-de-dados/viagens/{id}":{"get":{"tags":["Viagens a serviÃ§o"],"summary":"Consulta uma viagem pelo ID","description":"Filtros mÃ­nimos: ID do registro","operationId":"viagem","parameters":[{"name":"id","in":"path","description":"ID do registro","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ViagemDTO"}}}}}}},"/api-de-dados/viagens-por-cpf":{"get":{"tags":["Viagens a serviÃ§o"],"summary":"Consulta viagens por CPF","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1);  CPF; ","operationId":"viagensPorCpf","parameters":[{"name":"cpf","in":"query","description":"CPF","required":true,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ViagemDTO"}}}}}}}},"/api-de-dados/situacao-imovel":{"get":{"tags":["ImÃ³veis Funcionais"],"summary":"Consulta situaÃ§Ãµes dos imÃ³veis funcionais","operationId":"situacaoImovel","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/api-de-dados/servidores":{"get":{"tags":["Servidores do Poder Executivo Federal"],"summary":"Consulta todos servidores do Poder Executivo Federal","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1); <a href='/swagger-ui.html#!/211rg227os/orgaosSiapeUsingGET' >CÃ³digo ÃrgÃ£o LotaÃ§Ã£o (SIAPE)</a> OU <a href='/swagger-ui.html#!/211rg227os/orgaosSiapeUsingGET' >CÃ³digo ÃrgÃ£o ExercÃ­cio (SIAPE)</a> OU CPF;","operationId":"dadosServidores","parameters":[{"name":"tipoServidor","in":"query","description":"Tipo do Servidor (Civil=1 ou Militar=2)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"situacaoServidor","in":"query","description":"SituaÃ§Ã£o do Servidor (Ativo=1, Inativo=2 ou Pensionista=3)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"cpf","in":"query","description":"CPF do Servidor","required":false,"schema":{"type":"string"}},{"name":"nome","in":"query","description":"Nome do Servidor","required":false,"schema":{"type":"string"}},{"name":"codigoFuncaoCargo","in":"query","description":"<a href='/swagger-ui.html#!/Servidores32do32Poder32Executivo32Federal/listarFuncoesECargosUsingGET' >CÃ³digo da FunÃ§Ã£o ou Cargo de ConfianÃ§a</a>","required":false,"schema":{"type":"string"}},{"name":"orgaoServidorExercicio","in":"query","description":"<a href='/swagger-ui.html#!/211rg227os/orgaosSiapeUsingGET' >CÃ³digo ÃrgÃ£o ExercÃ­cio (SIAPE)</a>","required":false,"schema":{"type":"string"}},{"name":"orgaoServidorLotacao","in":"query","description":"<a href='/swagger-ui.html#!/211rg227os/orgaosSiapeUsingGET' >CÃ³digo ÃrgÃ£o LotaÃ§Ã£o (SIAPE)</a>","required":false,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CadastroServidorDTO"}}}}}}}},"/api-de-dados/servidores/{id}":{"get":{"tags":["Servidores do Poder Executivo Federal"],"summary":"Consulta um servidor do Poder Executivo Federal pelo idServidorAposentadoPensionista","description":"Filtros mÃ­nimos: ID do registro","operationId":"servidor","parameters":[{"name":"id","in":"path","description":"idServidorAposentadoPensionista","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CadastroServidorDTO"}}}}}}},"/api-de-dados/servidores/remuneracao":{"get":{"tags":["Servidores do Poder Executivo Federal"],"summary":"Consulta remuneraÃ§Ãµes de um servidor do Poder Executivo Federal pelo CPF ou idServidorAposentadoPensionista e mÃªs/ano","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1);  CPF;  Ano/MÃªs (YYYYMM); ou PÃ¡gina (padrÃ£o = 1);  Id Servidor; Ano/MÃªs (YYYYMM);","operationId":"remuneracoesServidores","parameters":[{"name":"id","in":"query","description":"idServidorAposentadoPensionista","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"cpf","in":"query","description":"CPF do Servidor","required":false,"schema":{"type":"string"}},{"name":"mesAno","in":"query","description":"Ano e mÃªs de referÃªncia (AAAAMM)","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ServidorRemuneracaoDTO"}}}}}}}},"/api-de-dados/servidores/por-orgao":{"get":{"tags":["Servidores do Poder Executivo Federal"],"summary":"Consulta de servidores agregados por Ã³rgÃ£o","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1); ","operationId":"servidorAgregadoPorOrgao","parameters":[{"name":"orgaoLotacao","in":"query","description":"<a href='/swagger-ui.html#!/211rg227os/orgaosSiapeUsingGET' >CÃ³digo ÃrgÃ£o LotaÃ§Ã£o (SIAPE)</a>","required":false,"schema":{"type":"string"}},{"name":"orgaoExercicio","in":"query","description":"<a href='/swagger-ui.html#!/211rg227os/orgaosSiapeUsingGET' >CÃ³digo ÃrgÃ£o ExercÃ­cio (SIAPE)</a>","required":false,"schema":{"type":"string"}},{"name":"tipoServidor","in":"query","description":"Tipo servidor (Civil: 1; Militar: 2)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"tipoVinculo","in":"query","description":"Tipo vÃ­nculo (FunÃ§Ã£o: 1; Cargo: 2; Outros: 3; Militares: 4","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"licenca","in":"query","description":"LicenÃ§a (Sim: 1; NÃ£o: 0)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ServidorPorOrgaoDTO"}}}}}}}},"/api-de-dados/servidores/funcoes-e-cargos":{"get":{"tags":["Servidores do Poder Executivo Federal"],"summary":"CÃ³digo da FunÃ§Ã£o ou Cargo de ConfianÃ§a","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1); ","operationId":"listarFuncoesECargos","parameters":[{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FuncaoServidorDTO"}}}}}}}},"/api-de-dados/seguro-defeso-por-municipio":{"get":{"tags":["BenefÃ­cios"],"summary":"Consulta os registros Seguro Defeso","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1);  Ano/MÃªs (YYYYMM); CÃ³digo IBGE (https://cidades.ibge.gov.br/brasil); ","operationId":"seguroDefesos","parameters":[{"name":"mesAno","in":"query","description":"Ano e mÃªs de referÃªncia (AAAAMM)","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"codigoIbge","in":"query","description":"CÃ³digo IBGE","required":true,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BeneficioPorMunicipioDTO"}}}}}}}},"/api-de-dados/seguro-defeso-codigo":{"get":{"tags":["BenefÃ­cios"],"summary":"Consulta os registros Seguro Defeso por CPF/NIS","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1);  CPF / NIS; ","operationId":"seguroDefesosPorCodigo","parameters":[{"name":"codigo","in":"query","description":"CPF/NIS","required":true,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SeguroDefesoDTO"}}}}}}}},"/api-de-dados/seguro-defeso-beneficiario-por-municipio":{"get":{"tags":["BenefÃ­cios"],"summary":"Consulta os registros Seguro Defeso dos BeneficiÃ¡rios por MunicÃ­pio e Mes/Ano","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1);  Ano/MÃªs (YYYYMM); CÃ³digo IBGE (https://cidades.ibge.gov.br/brasil); ","operationId":"seguroDefesosDosBeneficiariosPorMunicipio","parameters":[{"name":"mesAno","in":"query","description":"Ano e mÃªs de referÃªncia (AAAAMM)","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"codigoIbge","in":"query","description":"CÃ³digo IBGE","required":true,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SeguroDefesoDTO"}}}}}}}},"/api-de-dados/safra-por-municipio":{"get":{"tags":["BenefÃ­cios"],"summary":"Consulta os registros Garantia-Safra","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1);  Ano/MÃªs (YYYYMM); CÃ³digo IBGE (https://cidades.ibge.gov.br/brasil); ","operationId":"safra","parameters":[{"name":"mesAno","in":"query","description":"Ano e mÃªs de referÃªncia (AAAAMM)","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"codigoIbge","in":"query","description":"CÃ³digo IBGE","required":true,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BeneficioPorMunicipioDTO"}}}}}}}},"/api-de-dados/safra-codigo-por-cpf-ou-nis":{"get":{"tags":["BenefÃ­cios"],"summary":"Consulta os registros Garantia-Safra por CPF/NIS","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1);  CPF / NIS; ","operationId":"safraPorNisOuCPF","parameters":[{"name":"codigo","in":"query","description":"CPF/NIS","required":true,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SafraDTO"}}}}}}}},"/api-de-dados/safra-beneficiario-por-municipio":{"get":{"tags":["BenefÃ­cios"],"summary":"Consulta os registros Garantia-Safra dos beneficiÃ¡rios por municÃ­pio e mes/ano","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1);  Ano/MÃªs (YYYYMM); CÃ³digo IBGE (https://cidades.ibge.gov.br/brasil); ","operationId":"safraDosBeneficiariosPorMunicipio","parameters":[{"name":"mesAno","in":"query","description":"Ano e mÃªs de referÃªncia (AAAAMM)","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"codigoIbge","in":"query","description":"CÃ³digo IBGE","required":true,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SafraDTO"}}}}}}}},"/api-de-dados/renuncias-valor":{"get":{"tags":["RenÃºncias Fiscais"],"summary":"Consulta de Valores Renunciados","operationId":"consultaValoresRenuncia","parameters":[{"name":"nomeSiglaUF","in":"query","description":"Nome ou Sigla UF","required":false,"schema":{"type":"string"}},{"name":"codigoIbge","in":"query","description":"CÃ³digo IBGE","required":false,"schema":{"type":"string"}},{"name":"cnpj","in":"query","description":"CNPJ","required":false,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RenunciaDTO"}}}}}}}},"/api-de-dados/renuncias-fiscais-empresas-imunes-isentas":{"get":{"tags":["RenÃºncias Fiscais"],"summary":"Consulta Pessoas JurÃ­dicas Imunes e Isentas","operationId":"consultaPessoaJuridicasImunesIsentas","parameters":[{"name":"nomeSiglaUF","in":"query","description":"Nome ou Sigla UF","required":false,"schema":{"type":"string"}},{"name":"codigoIbge","in":"query","description":"CÃ³digo IBGE","required":false,"schema":{"type":"string"}},{"name":"cnpj","in":"query","description":"CNPJ","required":false,"schema":{"type":"string"}},{"name":"beneficiarioNomeFantasia","in":"query","description":"BeneficiÃ¡rio/Nome Fantasia","required":false,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EmpresaImuneIsentaDTO"}}}}}}}},"/api-de-dados/renuncias-fiscais-empresas-habilitadas-beneficios-fiscais":{"get":{"tags":["RenÃºncias Fiscais"],"summary":"Consulta Pessoas JurÃ­dicas Habilitadas a BenefÃ­cio Fiscal","operationId":"consultaPessoasJuridicasHabilitadasBeneficioFiscal","parameters":[{"name":"nomeSiglaUF","in":"query","description":"Nome ou Sigla UF","required":false,"schema":{"type":"string"}},{"name":"codigoIbge","in":"query","description":"CÃ³digo IBGE","required":false,"schema":{"type":"string"}},{"name":"cnpj","in":"query","description":"CNPJ","required":false,"schema":{"type":"string"}},{"name":"beneficiarioNomeFantasia","in":"query","description":"BeneficiÃ¡rio/Nome Fantasia","required":false,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EmpresaHabilitadaBeneficioFiscalDTO"}}}}}}}},"/api-de-dados/peti-por-municipio":{"get":{"tags":["BenefÃ­cios"],"summary":"Consulta os registros Programa de ErradicaÃ§Ã£o do Trabalho Infantil","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1);  Ano/MÃªs (YYYYMM); CÃ³digo IBGE (https://cidades.ibge.gov.br/brasil); ","operationId":"peti","parameters":[{"name":"mesAno","in":"query","description":"Ano e mÃªs de referÃªncia (AAAAMM)","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"codigoIbge","in":"query","description":"CÃ³digo IBGE","required":true,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BeneficioPorMunicipioDTO"}}}}}}}},"/api-de-dados/peti-por-cpf-ou-nis":{"get":{"tags":["BenefÃ­cios"],"summary":"Consulta os registros Programa de ErradicaÃ§Ã£o do Trabalho Infantil por CPF/NIS","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1);  CPF / NIS; ","operationId":"peti_1","parameters":[{"name":"codigo","in":"query","description":"CPF/NIS","required":true,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PetiDTO"}}}}}}}},"/api-de-dados/peti-beneficiario-por-municipio":{"get":{"tags":["BenefÃ­cios"],"summary":"Consulta os registros PETI dos beneficiÃ¡rios por municÃ­pio e mÃªs/ano","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1);  Ano/MÃªs (YYYYMM); CÃ³digo IBGE (https://cidades.ibge.gov.br/brasil); ","operationId":"petiBeneficiarioPorMunicipio","parameters":[{"name":"mesAno","in":"query","description":"Ano e mÃªs de referÃªncia (AAAAMM)","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"codigoIbge","in":"query","description":"CÃ³digo IBGE","required":true,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PetiDTO"}}}}}}}},"/api-de-dados/pessoa-juridica":{"get":{"tags":["Pessoas fÃ­sicas e jurÃ­dicas"],"summary":"Consulta os registros de Pessoas JurÃ­dicas","operationId":"pj","parameters":[{"name":"cnpj","in":"query","description":"CNPJ","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PessoaJuridicaDTO"}}}}}}},"/api-de-dados/pessoa-fisica":{"get":{"tags":["Pessoas fÃ­sicas e jurÃ­dicas"],"summary":"Consulta os registros de Pessoas FÃ­sicas","description":"Filtros mÃ­nimos: CPF ou NIS","operationId":"pf","parameters":[{"name":"cpf","in":"query","description":"CPF","required":false,"schema":{"type":"string"}},{"name":"nis","in":"query","description":"NIS","required":false,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PessoaFisicaDTO"}}}}}}},"/api-de-dados/permissionarios":{"get":{"tags":["ImÃ³veis Funcionais"],"summary":"Consulta relaÃ§Ã£o de ocupantes","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1); ","operationId":"relacaoOcupantes","parameters":[{"name":"codigoOrgaoResponsavelGestaoSiafi","in":"query","description":"<a href='/swagger-ui/index.html#/ÃrgÃ£os/orgaosSiafi' target=\"_blank\">CÃ³digo do ÃrgÃ£o ResponsÃ¡vel pela GestÃ£o(SIAFI)</a>","required":false,"schema":{"type":"string"}},{"name":"descricaoOrgaoOcupante","in":"query","description":"DescriÃ§Ã£o do ÃrgÃ£o do Ocupante","required":false,"schema":{"type":"string"}},{"name":"cpfOcupante","in":"query","description":"CPF Ocupante","required":false,"schema":{"type":"string"}},{"name":"dataInicioOcupacao","in":"query","description":"Data inÃ­cio ocupaÃ§Ã£o(DD/MM/AAAA)","required":false,"schema":{"type":"string"}},{"name":"dataFimOcupacao","in":"query","description":"Data fim ocupaÃ§Ã£o (DD/MM/AAAA)","required":false,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PermissionarioDTO"}}}}}}}},"/api-de-dados/peps":{"get":{"tags":["Servidores do Poder Executivo Federal"],"summary":"Consulta PEPs","operationId":"dadosPEPs","parameters":[{"name":"cpf","in":"query","description":"CPF do Servidor","required":false,"schema":{"type":"string"}},{"name":"nome","in":"query","description":"Nome do Servidor","required":false,"schema":{"type":"string"}},{"name":"descricaoFuncao","in":"query","description":"DescriÃ§Ã£o da FunÃ§Ã£o","required":false,"schema":{"type":"string"}},{"name":"orgaoServidorLotacao","in":"query","description":"<a href='/swagger-ui.html#!/211rg227os/orgaosSiapeUsingGET' >CÃ³digo ÃrgÃ£o LotaÃ§Ã£o (SIAPE)</a>","required":false,"schema":{"type":"string"}},{"name":"dataInicioExercicioDe","in":"query","description":"Data inÃ­cio do exercÃ­cio, perÃ­odo inicial (DD/MM/AAAA)","required":false,"schema":{"type":"string"}},{"name":"datInicioExercicioAte","in":"query","description":"Data inÃ­cio do exercÃ­cio, perÃ­odo final (DD/MM/AAAA)","required":false,"schema":{"type":"string"}},{"name":"dataFimExercicioDe","in":"query","description":"Data fim do exercÃ­cio, perÃ­odo inicial (DD/MM/AAAA)","required":false,"schema":{"type":"string"}},{"name":"datFimExercicioAte","in":"query","description":"Data fim do exercÃ­cio, perÃ­odo final (DD/MM/AAAA)","required":false,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PEPDTO"}}}}}}}},"/api-de-dados/orgaos-siape":{"get":{"tags":["ÃrgÃ£os"],"summary":"Consulta de Ã³rgÃ£os cadastrados no Sistema Integrado de AdministraÃ§Ã£o de Pessoal (SIAPE)","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1);  PerÃ­odo de no mÃ¡ximo 1 mÃªs; ","operationId":"orgaosSiape","parameters":[{"name":"codigo","in":"query","description":"CÃ³digo do ÃrgÃ£o (SIAPE)","required":false,"schema":{"type":"string"}},{"name":"descricao","in":"query","description":"DescriÃ§Ã£o do ÃrgÃ£o (SIAPE)","required":false,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CodigoDescricaoDTO"}}}}}}}},"/api-de-dados/orgaos-siafi":{"get":{"tags":["ÃrgÃ£os"],"summary":"Consulta de Ã³rgÃ£os cadastrados no Sistema Integrado de AdministraÃ§Ã£o Financeira do Governo Federal (SIAFI)","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1); ","operationId":"orgaosSiafi","parameters":[{"name":"codigo","in":"query","description":"CÃ³digo do ÃrgÃ£o (SIAFI)","required":false,"schema":{"type":"string"}},{"name":"descricao","in":"query","description":"DescriÃ§Ã£o do ÃrgÃ£o (SIAFI)","required":false,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CodigoDescricaoDTO"}}}}}}}},"/api-de-dados/novo-bolsa-familia-sacado-por-nis":{"get":{"tags":["BenefÃ­cios"],"operationId":"novoBolsaFamiliaSacadoPorNis","parameters":[{"name":"nis","in":"query","required":true,"schema":{"type":"string"}},{"name":"anoMesReferencia","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"anoMesCompetencia","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagina","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NovoBolsaFamiliaPagoDTO"}}}}}}}},"/api-de-dados/novo-bolsa-familia-sacado-beneficiario-por-municipio":{"get":{"tags":["BenefÃ­cios"],"operationId":"novoBolsaFamiliaSacadoDosBeneficiariosPorMunicipio","parameters":[{"name":"mesAno","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"codigoIbge","in":"query","required":true,"schema":{"type":"string"}},{"name":"pagina","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NovoBolsaFamiliaPagoDTO"}}}}}}}},"/api-de-dados/novo-bolsa-familia-por-municipio":{"get":{"tags":["BenefÃ­cios"],"operationId":"novoBolsaFamiliaPorMunicipio","parameters":[{"name":"mesAno","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"codigoIbge","in":"query","required":true,"schema":{"type":"string"}},{"name":"pagina","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BeneficioPorMunicipioDTO"}}}}}}}},"/api-de-dados/notas-fiscais":{"get":{"tags":["Notas Fiscais"],"summary":"Consulta todas as notas fiscais eletrÃ´nicas (NFeÂ´s) do Poder Executivo Federal","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1);  CNPJ Emitente / ÃrgÃ£o / Produto; ","operationId":"notasFiscais","parameters":[{"name":"cnpjEmitente","in":"query","description":"CNPJ do emitente","required":false,"schema":{"type":"string"}},{"name":"codigoOrgao","in":"query","description":"CÃ³digo do ÃrgÃ£o (SIAFI)","required":false,"schema":{"type":"string"}},{"name":"nomeProduto","in":"query","description":"Nome do produto","required":false,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NotaFiscalDTO"}}}}}}}},"/api-de-dados/notas-fiscais-por-chave":{"get":{"tags":["Notas Fiscais"],"summary":"Consulta uma nota fiscal eletrÃ´nica (NFe) do Poder Executivo Federal pela chave Ãºnica","description":"Filtros mÃ­nimos: CÃ³digo do registro","operationId":"notaFiscal","parameters":[{"name":"chaveUnicaNotaFiscal","in":"query","description":"Chave Ãºnica da nota fiscal","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DetalheNotaFiscalDTO"}}}}}}},"/api-de-dados/licitacoes":{"get":{"tags":["LicitaÃ§Ãµes do Poder Executivo Federal"],"summary":"Consulta todas as licitaÃ§Ãµes do Poder Executivo Federal","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1);  PerÃ­odo de no mÃ¡ximo 1 mÃªs; CÃ³digo do ÃrgÃ£o (SIAFI)","operationId":"licitacoes","parameters":[{"name":"dataInicial","in":"query","description":"Data de abertura inicial (DD/MM/AAAA)","required":false,"schema":{"type":"string"}},{"name":"dataFinal","in":"query","description":"Data de abertura final (DD/MM/AAAA)","required":false,"schema":{"type":"string"}},{"name":"codigoOrgao","in":"query","description":"<a href='/swagger-ui/index.html#/ÃrgÃ£os/orgaosSiafi' target=\"_blank\">CÃ³digo do ÃrgÃ£o (SIAFI)</a>","required":true,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LicitacaoDTO"}}}}}}}},"/api-de-dados/licitacoes/{id}":{"get":{"tags":["LicitaÃ§Ãµes do Poder Executivo Federal"],"summary":"Consulta uma licitaÃ§Ã£o do Poder Executivo Federal pelo id","description":"Filtros mÃ­nimos: ID do registro","operationId":"licitacao","parameters":[{"name":"id","in":"path","description":"ID do registro","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LicitacaoDTO"}}}}}}},"/api-de-dados/licitacoes/ugs":{"get":{"tags":["LicitaÃ§Ãµes do Poder Executivo Federal"],"summary":"Consulta as Unidades Gestoras que realizaram licitaÃ§Ãµes","operationId":"ugs","parameters":[{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UnidadeGestoraDTO"}}}}}}}},"/api-de-dados/licitacoes/por-ug-modalidade-numero":{"get":{"tags":["LicitaÃ§Ãµes do Poder Executivo Federal"],"summary":"Consulta uma licitaÃ§Ã£o pelo cÃ³digo da Unidade Gestora, nÃºmero e modalidade","description":"O nÃºmero da licitaÃ§Ã£o deve conter somente nÃºmeros, por exemplo, para a licitaÃ§Ã£o 2/2020 o parÃ¢metro deve ter o valor 22020","operationId":"licitacoesPorUgModalidadeENumero","parameters":[{"name":"codigoUG","in":"query","description":"<a href='/swagger-ui.html#!/Licita231245es32do32Poder32Executivo32Federal/ugsUsingGET' >CÃ³digo da Unidade Gestora</a>","required":true,"schema":{"type":"string"}},{"name":"numero","in":"query","description":"NÃºmero da LicitaÃ§Ã£o (NNNNNAAAA)","required":true,"schema":{"type":"string"}},{"name":"codigoModalidade","in":"query","description":"<a href='/swagger-ui.html#!/Licita231245es32do32Poder32Executivo32Federal/modalidadesUsingGET' >CÃ³digo da Modalidade da LicitaÃ§Ã£o</a>","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LicitacaoDTO"}}}}}}}},"/api-de-dados/licitacoes/por-processo":{"get":{"tags":["LicitaÃ§Ãµes do Poder Executivo Federal"],"summary":"Consulta uma licitaÃ§Ã£o pelo nÃºmero do processo","description":"O nÃºmero do processo deve conter somente nÃºmeros","operationId":"licitacoesPorProcesso","parameters":[{"name":"processo","in":"query","description":"NÃºmero do Processo","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LicitacaoDTO"}}}}}}}},"/api-de-dados/licitacoes/participantes":{"get":{"tags":["LicitaÃ§Ãµes do Poder Executivo Federal"],"summary":"Consulta os participantes de uma licitaÃ§Ã£o","description":"O nÃºmero da licitaÃ§Ã£o deve conter somente nÃºmeros, por exemplo, para a licitaÃ§Ã£o 2/2020 o parÃ¢metro deve ter o valor 22020","operationId":"participantes","parameters":[{"name":"codigoUG","in":"query","description":"<a href='/swagger-ui.html#!/Licita231245es32do32Poder32Executivo32Federal/ugsUsingGET' >CÃ³digo da Unidade Gestora</a>","required":true,"schema":{"type":"string"}},{"name":"numero","in":"query","description":"NÃºmero da LicitaÃ§Ã£o (NNNNNAAAA)","required":true,"schema":{"type":"string"}},{"name":"codigoModalidade","in":"query","description":"<a href='/swagger-ui.html#!/Licita231245es32do32Poder32Executivo32Federal/modalidadesUsingGET' >CÃ³digo da Modalidade da LicitaÃ§Ã£o</a>","required":true,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ParticipanteLicitacaoDTO"}}}}}}}},"/api-de-dados/licitacoes/modalidades":{"get":{"tags":["LicitaÃ§Ãµes do Poder Executivo Federal"],"summary":"Consulta as modalidades de licitaÃ§Ã£o","operationId":"modalidades","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CodigoDescricaoDTO"}}}}}}}},"/api-de-dados/licitacoes/itens-licitados":{"get":{"tags":["LicitaÃ§Ãµes do Poder Executivo Federal"],"summary":"Consulta os itens licitados pelo id licitaÃ§Ã£o","description":"Filtros mÃ­nimos: ID do registro","operationId":"itensLicitados","parameters":[{"name":"id","in":"query","description":"ID do registro","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ItemLicitacaoDTO"}}}}}}}},"/api-de-dados/licitacoes/empenhos":{"get":{"tags":["LicitaÃ§Ãµes do Poder Executivo Federal"],"summary":"Consulta os empenhos de uma licitaÃ§Ã£o","description":"O nÃºmero da licitaÃ§Ã£o deve conter somente nÃºmeros, por exemplo, para a licitaÃ§Ã£o 2/2020 o parÃ¢metro deve ter o valor 22020","operationId":"empenhos","parameters":[{"name":"codigoUG","in":"query","description":"<a href='/swagger-ui.html#!/Licita231245es32do32Poder32Executivo32Federal/ugsUsingGET' >CÃ³digo da Unidade Gestora</a>","required":true,"schema":{"type":"string"}},{"name":"numero","in":"query","description":"NÃºmero da LicitaÃ§Ã£o (NNNNNAAAA)","required":true,"schema":{"type":"string"}},{"name":"codigoModalidade","in":"query","description":"<a href='/swagger-ui.html#!/Licita231245es32do32Poder32Executivo32Federal/modalidadesUsingGET' >CÃ³digo da Modalidade da LicitaÃ§Ã£o</a>","required":true,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EmpenhoComprasDTO"}}}}}}}},"/api-de-dados/licitacoes/contratos-relacionados-licitacao":{"get":{"tags":["LicitaÃ§Ãµes do Poder Executivo Federal"],"summary":"Consulta os contratos relacionados a licitaÃ§Ã£o","description":"Filtros mÃ­nimos: ID do registro","operationId":"contratosRelacionados","parameters":[{"name":"codigoUG","in":"query","description":"<a href='/swagger-ui.html#!/Licita231245es32do32Poder32Executivo32Federal/ugsUsingGET' >CÃ³digo da Unidade Gestora</a>","required":true,"schema":{"type":"string"}},{"name":"numero","in":"query","description":"NÃºmero da LicitaÃ§Ã£o (NNNNNAAAA)","required":true,"schema":{"type":"string"}},{"name":"codigoModalidade","in":"query","description":"<a href='/swagger-ui.html#!/Licita231245es32do32Poder32Executivo32Federal/modalidadesUsingGET' >CÃ³digo da Modalidade da LicitaÃ§Ã£o</a>","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ContratoDTO"}}}}}}}},"/api-de-dados/imoveis":{"get":{"tags":["ImÃ³veis Funcionais"],"summary":"Consulta relaÃ§Ã£o de imÃ³veis","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1); ","operationId":"relacaoImoveis","parameters":[{"name":"codigoOrgaoSiafiResponsavelGestao","in":"query","description":"<a href='/swagger-ui/index.html#/ÃrgÃ£os/orgaosSiafi' target=\"_blank\">CÃ³digo do ÃrgÃ£o (SIAFI)</a>","required":false,"schema":{"type":"string"}},{"name":"situacao","in":"query","description":"<a href='/swagger-ui.html#!/Im243veis32Funcionais/situacaoImovelUsingGET' >SituaÃ§Ã£o ImÃ³vel</a>","required":false,"schema":{"type":"string"}},{"name":"regiao","in":"query","description":"RegiÃ£o","required":false,"schema":{"type":"string"}},{"name":"cep","in":"query","description":"CEP","required":false,"schema":{"type":"string"}},{"name":"endereco","in":"query","description":"EndereÃ§o","required":false,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ImovelFuncionalDTO"}}}}}}}},"/api-de-dados/emendas":{"get":{"tags":["Emendas parlamentares"],"summary":"Consulta as emendas parlamentares","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1); ","operationId":"emendas","parameters":[{"name":"codigoEmenda","in":"query","description":"CÃ³digo da Emenda","required":false,"schema":{"type":"string"}},{"name":"numeroEmenda","in":"query","description":"NÃºmero da emenda","required":false,"schema":{"type":"string"}},{"name":"nomeAutor","in":"query","description":"Nome do Autor","required":false,"schema":{"type":"string"}},{"name":"tipoEmenda","in":"query","description":"Tipo de emenda","required":false,"schema":{"type":"string"}},{"name":"ano","in":"query","description":"Ano","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"codigoFuncao","in":"query","description":"CÃ³digo da funÃ§Ã£o","required":false,"schema":{"type":"string"}},{"name":"codigoSubfuncao","in":"query","description":"CÃ³digo da subfunÃ§Ã£o","required":false,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ConsultaEmendasDTO"}}}}}}}},"/api-de-dados/emendas/documentos/{codigo}":{"get":{"tags":["Emendas parlamentares"],"summary":"Consulta os documentos relacionados Ã  emenda parlamentar pelo cÃ³digo da emenda","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1); ","operationId":"documentosRelacionadosAEmenda","parameters":[{"name":"codigo","in":"path","description":"CÃ³digo da emenda","required":true,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocumentoRelacionadoEmendaDTO"}}}}}}}},"/api-de-dados/despesas/tipo-transferencia":{"get":{"tags":["Despesas PÃºblicas"],"summary":"Consulta os tipos de transferÃªncias usados nas despesas","operationId":"listaTipoTransferencia","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/IdDescricaoDTO"}}}}}}}},"/api-de-dados/despesas/recursos-recebidos":{"get":{"tags":["Despesas PÃºblicas"],"summary":"Recebimento de recursos por favorecido","operationId":"recursosRecebidos","parameters":[{"name":"mesAnoInicio","in":"query","description":"MÃªs ano inÃ­cio (MM/AAAA)","required":true,"schema":{"type":"string"}},{"name":"mesAnoFim","in":"query","description":"MÃªs ano fim (MM/AAAA)","required":true,"schema":{"type":"string"}},{"name":"nomeFavorecido","in":"query","description":"Nome Favorecido","required":false,"schema":{"type":"string"}},{"name":"codigoFavorecido","in":"query","description":"CNPJ / CPF / CÃ³digo do favorecido","required":false,"schema":{"type":"string"}},{"name":"tipoFavorecido","in":"query","description":"Tipo de favorecido","required":false,"schema":{"type":"string"}},{"name":"uf","in":"query","description":"Sigla UF","required":false,"schema":{"type":"string"}},{"name":"codigoIBGE","in":"query","description":"MunicÃ­pio","required":false,"schema":{"type":"string"}},{"name":"orgaoSuperior","in":"query","description":"ÃrgÃ£o superior (cÃ³digo SIAFI)","required":false,"schema":{"type":"string"}},{"name":"orgao","in":"query","description":"ÃrgÃ£o/Entidade vinculada (cÃ³digo SIAFI)","required":false,"schema":{"type":"string"}},{"name":"unidadeGestora","in":"query","description":"Unidade gestora (cÃ³digo SIAFI)","required":false,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PessoaRecursosRecebidosUGMesDesnormalizadaDTO"}}}}}}}},"/api-de-dados/despesas/por-orgao":{"get":{"tags":["Despesas PÃºblicas"],"summary":"Consulta as despesas dos Ã³rgÃ£o do Poder Executivo Federal","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1);  Ano do registro;  Ao menos um dos demais filtros; ","operationId":"despesasPorOrgao","parameters":[{"name":"ano","in":"query","description":"Ano da despesa (AAAA)","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"orgaoSuperior","in":"query","description":"ÃrgÃ£o superior (cÃ³digo SIAFI)","required":false,"schema":{"type":"string"}},{"name":"orgao","in":"query","description":"ÃrgÃ£o/Entidade vinculada (cÃ³digo SIAFI)","required":false,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DespesaAnualPorOrgaoDTO"}}}}}}}},"/api-de-dados/despesas/por-funcional-programatica":{"get":{"tags":["Despesas PÃºblicas"],"summary":"Consulta as despesas do Poder Executivo Federal pela classificaÃ§Ã£o funcional programÃ¡tica","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1);  Ano do registro;  Ao menos um dos demais filtros; ","operationId":"despesasPorFuncao","parameters":[{"name":"ano","in":"query","description":"Ano da despesa (AAAA)","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"funcao","in":"query","description":"FunÃ§Ã£o (cÃ³digo SIAFI)","required":false,"schema":{"type":"string"}},{"name":"subfuncao","in":"query","description":"SubfunÃ§Ã£o (cÃ³digo SIAFI)","required":false,"schema":{"type":"string"}},{"name":"programa","in":"query","description":"Programa (cÃ³digo SIAFI)","required":false,"schema":{"type":"string"}},{"name":"acao","in":"query","description":"AÃ§Ã£o (cÃ³digo SIAFI)","required":false,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DespesaAnualPorFuncaoESubfuncaoDTO"}}}}}}}},"/api-de-dados/despesas/por-funcional-programatica/movimentacao-liquida":{"get":{"tags":["Despesas PÃºblicas"],"summary":"Consulta de movimentaÃ§Ã£o lÃ­quida anual das despesas do Poder Executivo Federal pela classificaÃ§Ã£o funcional programÃ¡tica","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1);  Ano do registro;  Ao menos um dos demais filtros; ","operationId":"despesasPorFuncaoMovimentacaoLiquida","parameters":[{"name":"ano","in":"query","description":"Ano da despesa (AAAA)","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"funcao","in":"query","description":"FunÃ§Ã£o (cÃ³digo SIAFI)","required":false,"schema":{"type":"string"}},{"name":"subfuncao","in":"query","description":"SubfunÃ§Ã£o (cÃ³digo SIAFI)","required":false,"schema":{"type":"string"}},{"name":"programa","in":"query","description":"Programa (cÃ³digo SIAFI)","required":false,"schema":{"type":"string"}},{"name":"acao","in":"query","description":"AÃ§Ã£o (cÃ³digo SIAFI)","required":false,"schema":{"type":"string"}},{"name":"grupoDespesa","in":"query","description":"Grupo Despesa (cÃ³digo SIAFI)","required":false,"schema":{"type":"string"}},{"name":"elementoDespesa","in":"query","description":"Elemento Despesa (cÃ³digo SIAFI)","required":false,"schema":{"type":"string"}},{"name":"modalidadeAplicacao","in":"query","description":"Modalidade de AplicaÃ§Ã£o (cÃ³digo SIAFI)","required":false,"schema":{"type":"string"}},{"name":"idPlanoOrcamentario","in":"query","description":"Id Plano orÃ§amentÃ¡rio","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DespesaLiquidaAnualPorFuncaoESubfuncaoDTO"}}}}}}}},"/api-de-dados/despesas/plano-orcamentario":{"get":{"tags":["Despesas PÃºblicas"],"summary":"Consulta Plano orÃ§amentÃ¡rio","operationId":"despesasPorPlanoOrcamentario","parameters":[{"name":"codPlanoOrcamentario","in":"query","description":"CÃ³digo Plano OrÃ§amentÃ¡ria","required":false,"schema":{"type":"string"}},{"name":"descPlanoOrcamentario","in":"query","description":"DescriÃ§Ã£o Plano OrÃ§amentÃ¡rio","required":false,"schema":{"type":"string"}},{"name":"codPOIdentfAcompanhamento","in":"query","description":"Identificado de acompanhamento","required":false,"schema":{"type":"string"}},{"name":"ano","in":"query","description":"Ano","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DespesasPorPlanoOrcamentarioDTO"}}}}}}}},"/api-de-dados/despesas/itens-de-empenho":{"get":{"tags":["Despesas PÃºblicas"],"summary":"Consulta os itens de um Empenho","operationId":"itensDeEmpenho","parameters":[{"name":"codigoDocumento","in":"query","description":"CÃ³digo do empenho (Unidade Gestora + GestÃ£o + NÃºmero do documento)","required":true,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DetalhamentoDoGastoDTO"}}}}}}}},"/api-de-dados/despesas/itens-de-empenho/historico":{"get":{"tags":["Despesas PÃºblicas"],"summary":"Consulta o histÃ³rico de um item de empenho","operationId":"consultaHistorico","parameters":[{"name":"codigoDocumento","in":"query","description":"CÃ³digo do empenho (Unidade Gestora + GestÃ£o + NÃºmero do documento)","required":true,"schema":{"type":"string"}},{"name":"sequencial","in":"query","description":"NÃºmero sequencial do item de empenho","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HistoricoSubItemEmpenhoDTO"}}}}}}}},"/api-de-dados/despesas/funcional-programatica/subfuncoes":{"get":{"tags":["api-funcional-programatica-controller"],"operationId":"subfuncoes","parameters":[{"name":"anoInicio","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"codigo","in":"query","required":false,"schema":{"type":"string"}},{"name":"pagina","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DimFuncionalProgramaticaDTO"}}}}}}}},"/api-de-dados/despesas/funcional-programatica/programas":{"get":{"tags":["api-funcional-programatica-controller"],"operationId":"programas","parameters":[{"name":"anoInicio","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"codigo","in":"query","required":false,"schema":{"type":"string"}},{"name":"pagina","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DimFuncionalProgramaticaDTO"}}}}}}}},"/api-de-dados/despesas/funcional-programatica/listar":{"get":{"tags":["api-funcional-programatica-controller"],"operationId":"funcionalProgramatica","parameters":[{"name":"ano","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"pagina","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FuncionalProgramaticaDTO"}}}}}}}},"/api-de-dados/despesas/funcional-programatica/funcoes":{"get":{"tags":["api-funcional-programatica-controller"],"operationId":"funcoes","parameters":[{"name":"anoInicio","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"codigo","in":"query","required":false,"schema":{"type":"string"}},{"name":"pagina","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DimFuncionalProgramaticaDTO"}}}}}}}},"/api-de-dados/despesas/funcional-programatica/acoes":{"get":{"tags":["api-funcional-programatica-controller"],"operationId":"acoes","parameters":[{"name":"anoInicio","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"codigo","in":"query","required":false,"schema":{"type":"string"}},{"name":"pagina","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DimFuncionalProgramaticaDTO"}}}}}}}},"/api-de-dados/despesas/favorecidos-finais-por-documento":{"get":{"tags":["Despesas PÃºblicas"],"summary":"Consulta favorecidos finais por documento","description":"Filtros mÃ­nimos: CÃ³digo do registro","operationId":"favorecidosFinaisPorDocumento","parameters":[{"name":"codigoDocumento","in":"query","description":"CÃ³digo do documento (Unidade Gestora + GestÃ£o + NÃºmero do documento)","required":true,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ConsultaFavorecidosFinaisPorDocumentoDTO"}}}}}}}},"/api-de-dados/despesas/empenhos-impactados":{"get":{"tags":["Despesas PÃºblicas"],"summary":"Consulta empenhos impactados por documento/fase","description":"Filtros mÃ­nimos: CÃ³digo do registro e fase da despesa (liquidaÃ§Ã£o ou pagamento somente)","operationId":"empenhosImpactados","parameters":[{"name":"codigoDocumento","in":"query","description":"CÃ³digo do documento (Unidade Gestora + GestÃ£o + NÃºmero do documento)","required":true,"schema":{"type":"string"}},{"name":"fase","in":"query","description":"Fase da despesa (2 - LiquidaÃ§Ã£o, 3 - Pagamento)","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EmpenhoImpactadoBasicoDTO"}}}}}}}},"/api-de-dados/despesas/documentos":{"get":{"tags":["Despesas PÃºblicas"],"summary":"Consulta todos os documentos de despesas","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1);  PerÃ­odo de no mÃ¡ximo 1 dia;  Fase da despesa;  Ao menos um dos demais filtros; ","operationId":"documentos","parameters":[{"name":"unidadeGestora","in":"query","description":"Unidade gestora emitente (cÃ³digo SIAFI)","required":false,"schema":{"type":"string"}},{"name":"gestao","in":"query","description":"GestÃ£o (cÃ³digo SIAFI)","required":false,"schema":{"type":"string"}},{"name":"dataEmissao","in":"query","description":"Data de emissÃ£o (DD/MM/AAAA)","required":true,"schema":{"type":"string"}},{"name":"fase","in":"query","description":"Fase da despesa (1 - Empenho, 2 - LiquidaÃ§Ã£o, 3 - Pagamento)","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DespesasPorDocumentoDTO"}}}}}}}},"/api-de-dados/despesas/documentos/{codigo}":{"get":{"tags":["Despesas PÃºblicas"],"summary":"Consulta um documento pelo cÃ³digo (Unidade Gestora + GestÃ£o + NÃºmero do documento)","description":"Filtros mÃ­nimos: CÃ³digo do registro","operationId":"documentoPorCodigo","parameters":[{"name":"codigo","in":"path","description":"CÃ³digo do registro","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DespesasPorDocumentoDTO"}}}}}}},"/api-de-dados/despesas/documentos-relacionados":{"get":{"tags":["Despesas PÃºblicas"],"summary":"Consulta os documentos relacionados a um Empenho, LiquidaÃ§Ã£o ou Pagamento","operationId":"documentosRelacionados","parameters":[{"name":"codigoDocumento","in":"query","description":"CÃ³digo do documento (Unidade Gestora + GestÃ£o + NÃºmero do documento)","required":true,"schema":{"type":"string"}},{"name":"fase","in":"query","description":"Fase da despesa (1 - Empenho, 2 - LiquidaÃ§Ã£o, 3 - Pagamento)","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocumentoRelacionadoDTO"}}}}}}}},"/api-de-dados/despesas/documentos-por-favorecido":{"get":{"tags":["Despesas PÃºblicas"],"summary":"Consulta Empenhos, LiquidaÃ§Ãµes e Pagamentos emitidos para um favorecido","description":"A informaÃ§Ã£o favorecidoIntermediario indica se o documento foi emitido para o favorecido ou se ele Ã© apenas um intermediÃ¡rio que recebe o recurso e repassa-o para os favorecidos finais","operationId":"documentosPorFavorecido","parameters":[{"name":"codigoPessoa","in":"query","description":"CÃ³digo do Favorecido (CPF, CNPJ ou cÃ³digo do SIAFI)","required":true,"schema":{"type":"string"}},{"name":"fase","in":"query","description":"Fase da despesa (1 - Empenho, 2 - LiquidaÃ§Ã£o, 3 - Pagamento)","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"ano","in":"query","description":"Ano de emissÃ£o do documento","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"ug","in":"query","description":"CÃ³digo da unidade gestora emissora do documento","required":false,"schema":{"type":"string"}},{"name":"gestao","in":"query","description":"CÃ³digo da gestÃ£o do documento","required":false,"schema":{"type":"string"}},{"name":"ordenacaoResultado","in":"query","description":"OrdenaÃ§Ã£o de Resultado (1 - Valor Ascendente, 2 - Valor Descendente, 3 - Data Ascendente, 4 - Data Descendente)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DespesasPorDocumentoDTO"}}}}}}}},"/api-de-dados/coronavirus/transferencias":{"get":{"tags":["CoronavÃ­rus"],"summary":"Consulta de transferÃªncias mensal das despesas do Poder Executivo Federal pela classificaÃ§Ã£o funcional programÃ¡tica","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1);  Ano do registro;  Ao menos um dos demais filtros; ","operationId":"buscarTransferencias","parameters":[{"name":"mesAno","in":"query","description":"MÃªs e Ano (AAAAMM)","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"codigoOrgao","in":"query","description":"ÃrgÃ£o (cÃ³digo SIAFI)","required":false,"schema":{"type":"string"}},{"name":"tipoTransferencia","in":"query","description":"<a href='/swagger-ui.html#!/Despesas32P250blicas/listaTipoTransferenciaUsingGET' >ID do Tipo de TransferÃªncia</a>","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"uf","in":"query","description":"Sigla UF","required":false,"schema":{"type":"string"}},{"name":"codigoIbge","in":"query","description":"MunicÃ­pio","required":false,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TransferenciaCoronavirusDTO"}}}}}}}},"/api-de-dados/coronavirus/movimento-liquido-despesa":{"get":{"tags":["CoronavÃ­rus"],"summary":"Consulta de movimentaÃ§Ã£o lÃ­quida mensal das despesas do Poder Executivo Federal pela classificaÃ§Ã£o funcional programÃ¡tica","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1);  Ano do registro;  Ao menos um dos demais filtros; ","operationId":"despesasPorFuncaoMovimentacaoLiquida_1","parameters":[{"name":"mesAnoLancamento","in":"query","description":"MÃªs e Ano de lanÃ§amento (AAAAMM)","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"funcao","in":"query","description":"FunÃ§Ã£o (cÃ³digo SIAFI)","required":false,"schema":{"type":"string"}},{"name":"subfuncao","in":"query","description":"SubfunÃ§Ã£o (cÃ³digo SIAFI)","required":false,"schema":{"type":"string"}},{"name":"programa","in":"query","description":"Programa (cÃ³digo SIAFI)","required":false,"schema":{"type":"string"}},{"name":"acao","in":"query","description":"AÃ§Ã£o (cÃ³digo SIAFI)","required":false,"schema":{"type":"string"}},{"name":"grupoDespesa","in":"query","description":"Grupo Despesa (cÃ³digo SIAFI)","required":false,"schema":{"type":"string"}},{"name":"elementoDespesa","in":"query","description":"Elemento Despesa (cÃ³digo SIAFI)","required":false,"schema":{"type":"string"}},{"name":"modalidadeAplicacao","in":"query","description":"Modalidade de AplicaÃ§Ã£o (cÃ³digo SIAFI)","required":false,"schema":{"type":"string"}},{"name":"idPlanoOrcamentario","in":"query","description":"Id Plano orÃ§amentÃ¡rio","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MovimentacaoLiquidaCovidDTO"}}}}}}}},"/api-de-dados/convenios":{"get":{"tags":["ConvÃªnios do Poder Executivo Federal"],"summary":"Consulta todos convÃªnios do Poder Executivo Federal","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1);  PerÃ­odo de no mÃ¡ximo 1 dia; ","operationId":"convenios","parameters":[{"name":"dataInicial","in":"query","description":"Data referÃªncia inÃ­cio (DD/MM/AAAA)","required":false,"schema":{"type":"string"}},{"name":"dataFinal","in":"query","description":"Data referÃªncia fim (DD/MM/AAAA)","required":false,"schema":{"type":"string"}},{"name":"dataUltimaLiberacaoInicial","in":"query","description":"Data da Ãºltima liberaÃ§Ã£o de recurso inÃ­cio (DD/MM/AAAA)","required":false,"schema":{"type":"string"}},{"name":"dataUltimaLiberacaoFinal","in":"query","description":"Data da Ãºltima liberaÃ§Ã£o de recurso fim (DD/MM/AAAA)","required":false,"schema":{"type":"string"}},{"name":"dataVigenciaInicial","in":"query","description":"Data de vigÃªncia inÃ­cio (DD/MM/AAAA)","required":false,"schema":{"type":"string"}},{"name":"dataVigenciaFinal","in":"query","description":"Data de vigÃªncia fim (DD/MM/AAAA)","required":false,"schema":{"type":"string"}},{"name":"convenente","in":"query","description":"Convenente","required":false,"schema":{"type":"string"}},{"name":"tipoConvenente","in":"query","description":"Tipo de Convenente","required":false,"schema":{"type":"string"}},{"name":"numero","in":"query","description":"NÃºmero do convÃªnio","required":false,"schema":{"type":"string"}},{"name":"numeroOriginal","in":"query","description":"NÃºmero original do convÃªnio","required":false,"schema":{"type":"string"}},{"name":"codigoOrgao","in":"query","description":"<a href='/swagger-ui/index.html#/ÃrgÃ£os/orgaosSiafi' target=\"_blank\">CÃ³digo do ÃrgÃ£o (SIAFI)</a>","required":false,"schema":{"type":"string"}},{"name":"uf","in":"query","description":"Sigla UF","required":false,"schema":{"type":"string"}},{"name":"codigoIBGE","in":"query","description":"MunicÃ­pio (CÃ³digo IBGE)","required":false,"schema":{"type":"string"}},{"name":"situacao","in":"query","description":"CÃ³digo SituaÃ§Ã£o","required":false,"schema":{"type":"string"}},{"name":"tipoInstrumento","in":"query","description":"CÃ³digo Tipo de Instrumento","required":false,"schema":{"type":"string"}},{"name":"funcao","in":"query","description":"CÃ³digo FunÃ§Ã£o","required":false,"schema":{"type":"string"}},{"name":"subfuncao","in":"query","description":"CÃ³digo SubfunÃ§Ã£o","required":false,"schema":{"type":"string"}},{"name":"valorLiberadoDe","in":"query","description":"Valor liberado de (Formato: 1.000,00)","required":false,"schema":{"type":"string"}},{"name":"valorLiberadoAte","in":"query","description":"Valor liberado atÃ© (Formato: 1.000,00)","required":false,"schema":{"type":"string"}},{"name":"valorTotalDe","in":"query","description":"Valor total de (Formato: 1.000,00)","required":false,"schema":{"type":"string"}},{"name":"valorTotalAte","in":"query","description":"Valor total atÃ© (Formato: 1.000,00)","required":false,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ConvenioDTO"}}}}}}}},"/api-de-dados/convenios/tipo-instrumento":{"get":{"tags":["ConvÃªnios do Poder Executivo Federal"],"summary":"Consulta os tipos de instrumentos usados nos convÃªnios","operationId":"listaTiposDeInstrumento","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TipoInstrumentoDTO"}}}}}}}},"/api-de-dados/convenios/numero":{"get":{"tags":["ConvÃªnios do Poder Executivo Federal"],"summary":"Consulta um convÃªnio do Poder Executivo Federal pelo nÃºmero do contrato","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1);  NÃºmero; ","operationId":"conveniosPorNumero","parameters":[{"name":"numero","in":"query","description":"NÃºmero do convÃªnio","required":true,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ConvenioDTO"}}}}}}}},"/api-de-dados/convenios/numero-processo":{"get":{"tags":["ConvÃªnios do Poder Executivo Federal"],"summary":"Consulta um convÃªnio do Poder Executivo Federal pelo nÃºmero do processo","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1);  NÃºmero do processo; ","operationId":"conveniosPorNumeroProcesso","parameters":[{"name":"numeroProcesso","in":"query","description":"NÃºmero do processo","required":true,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ConvenioDTO"}}}}}}}},"/api-de-dados/convenios/numero-original":{"get":{"tags":["ConvÃªnios do Poder Executivo Federal"],"summary":"Consulta um convÃªnio do Poder Executivo Federal pelo nÃºmero original do contrato","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1);  NÃºmero; ","operationId":"conveniosPorNumeroOriginal","parameters":[{"name":"numeroOriginal","in":"query","description":"NÃºmero original do convÃªnio","required":true,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ConvenioDTO"}}}}}}}},"/api-de-dados/convenios/id":{"get":{"tags":["ConvÃªnios do Poder Executivo Federal"],"summary":"Consulta um convÃªnio do Poder Executivo Federal pelo id","description":"Filtros mÃ­nimos: ID do registro","operationId":"convenio","parameters":[{"name":"id","in":"query","description":"ID do registro","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConvenioDTO"}}}}}}},"/api-de-dados/contratos":{"get":{"tags":["Contratos do Poder Executivo Federal"],"summary":"Consulta os todos contratos do Poder Executivo Federal","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1); CÃ³digo do ÃrgÃ£o (SIAFI); Data vigÃªncia inÃ­cio; Data vigÃªncia fim","operationId":"contratos","parameters":[{"name":"dataInicial","in":"query","description":"Data vigÃªncia inÃ­cio (DD/MM/AAAA)","required":false,"schema":{"type":"string"}},{"name":"dataFinal","in":"query","description":"Data vigÃªncia fim (DD/MM/AAAA)","required":false,"schema":{"type":"string"}},{"name":"codigoOrgao","in":"query","description":"<a href='/swagger-ui/index.html#/ÃrgÃ£os/orgaosSiafi' target=\"_blank\">CÃ³digo do ÃrgÃ£o (SIAFI)</a>","required":true,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ContratoDTO"}}}}}}}},"/api-de-dados/contratos/termo-aditivo":{"get":{"tags":["Contratos do Poder Executivo Federal"],"summary":"Consulta os termos aditivos do contrato pelo id do contrato","description":"Filtros mÃ­nimos: ID do registro","operationId":"termosAditivosDoContrato","parameters":[{"name":"id","in":"query","description":"ID do registro","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TermoAditivoDTO"}}}}}}}},"/api-de-dados/contratos/processo":{"get":{"tags":["Contratos do Poder Executivo Federal"],"summary":"Consulta um contrato do Poder Executivo Federal pelo nÃºmero do processo","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1);  Processo; ","operationId":"contratosPorProcesso","parameters":[{"name":"processo","in":"query","description":"NÃºmero do processo","required":true,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ContratoDTO"}}}}}}}},"/api-de-dados/contratos/numero":{"get":{"tags":["Contratos do Poder Executivo Federal"],"summary":"Consulta um contrato do Poder Executivo Federal pelo nÃºmero do contrato","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1);  NÃºmero; ","operationId":"contratosPorNumero","parameters":[{"name":"numero","in":"query","description":"NÃºmero do contrato","required":true,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ContratoDTO"}}}}}}}},"/api-de-dados/contratos/itens-contratados":{"get":{"tags":["Contratos do Poder Executivo Federal"],"summary":"Consulta os itens contratados pelo id do contrato","description":"Filtros mÃ­nimos: ID do registro","operationId":"itensContratados","parameters":[{"name":"id","in":"query","description":"ID do registro","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ItemContratadoDTO"}}}}}}}},"/api-de-dados/contratos/id":{"get":{"tags":["Contratos do Poder Executivo Federal"],"summary":"Consulta um contrato do Poder Executivo Federal pelo id","description":"Filtros mÃ­nimos: ID do registro","operationId":"contrato","parameters":[{"name":"id","in":"query","description":"ID do registro","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ContratoDTO"}}}}}}},"/api-de-dados/contratos/documentos-relacionados":{"get":{"tags":["Contratos do Poder Executivo Federal"],"summary":"Consulta os documentos relacionados a um contrato pelo id do contrato","description":"Filtros mÃ­nimos: ID do registro","operationId":"documentosRelacionadosAoContrato","parameters":[{"name":"id","in":"query","description":"ID do registro","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EmpenhoComprasDTO"}}}}}}}},"/api-de-dados/contratos/cpf-cnpj":{"get":{"tags":["Contratos do Poder Executivo Federal"],"summary":"Consulta um contrato do Poder Executivo Federal pelo CPF/CNPJ do Fornecedor","description":"Filtros mÃ­nimos: CPF/CNPJ do Fornecedor","operationId":"contratoPorCpfCnpj","parameters":[{"name":"cpfCnpj","in":"query","description":"CPF/CNPJ do Fornecedor","required":true,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ContratoDTO"}}}}}}}},"/api-de-dados/contratos/apostilamento":{"get":{"tags":["Contratos do Poder Executivo Federal"],"summary":"Consulta os apostilamentos do contrato pelo id do contrato","description":"Filtros mÃ­nimos: ID do registro","operationId":"apostilamentosDoContrato","parameters":[{"name":"id","in":"query","description":"ID do registro","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApostilamentoDTO"}}}}}}}},"/api-de-dados/cnep":{"get":{"tags":["SanÃ§Ãµes"],"summary":"Consulta os registros do CNEP por CNPJ ou CPF Sancionado/ÃrgÃ£o Sancionador/PerÃ­odo","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1); ","operationId":"cnep","parameters":[{"name":"codigoSancionado","in":"query","description":"CNPJ ou CPF do Sancionado","required":false,"schema":{"type":"string"}},{"name":"nomeSancionado","in":"query","description":"Nome, nome fantasia ou razÃ£o social do Sancionado","required":false,"schema":{"type":"string"}},{"name":"orgaoSancionador","in":"query","description":"ÃrgÃ£o Sancionador","required":false,"schema":{"type":"string"}},{"name":"dataInicialSancao","in":"query","description":"Data Inicial da SanÃ§Ã£o (DD/MM/AAAA)","required":false,"schema":{"type":"string"}},{"name":"dataFinalSancao","in":"query","description":"Data Final da SanÃ§Ã£o (DD/MM/AAAA)","required":false,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CnepDTO"}}}}}}}},"/api-de-dados/cnep/{id}":{"get":{"tags":["SanÃ§Ãµes"],"summary":"Consulta um registro do CNEP pelo id","description":"Filtros mÃ­nimos: ID do registro","operationId":"cnep_1","parameters":[{"name":"id","in":"path","description":"ID do registro","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CnepDTO"}}}}}}},"/api-de-dados/cepim":{"get":{"tags":["SanÃ§Ãµes"],"summary":"Consulta os registros do CEPIM por CNPJ ou CPF Sancionado/ÃrgÃ£o superior","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1); ","operationId":"cepim","parameters":[{"name":"cnpjSancionado","in":"query","description":"CNPJ do Sancionado","required":false,"schema":{"type":"string"}},{"name":"nomeSancionado","in":"query","description":"Nome, nome fantasia ou razÃ£o social do Sancionado","required":false,"schema":{"type":"string"}},{"name":"ufSancionado","in":"query","description":"UF do Sancionado (sigla)","required":false,"schema":{"type":"string"}},{"name":"orgaoEntidade","in":"query","description":"ÃrgÃ£o/Entidade","required":false,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CepimDTO"}}}}}}}},"/api-de-dados/cepim/{id}":{"get":{"tags":["SanÃ§Ãµes"],"summary":"Consulta um registro do CEPIM pelo id","description":"Filtros mÃ­nimos: ID do registro","operationId":"cepim_1","parameters":[{"name":"id","in":"path","description":"ID do registro","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CepimDTO"}}}}}}},"/api-de-dados/ceis":{"get":{"tags":["SanÃ§Ãµes"],"summary":"Consulta os registros do CEIS por CNPJ ou CPF Sancionado/ÃrgÃ£o Sancionador/PerÃ­odo","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1); ","operationId":"ceis","parameters":[{"name":"codigoSancionado","in":"query","description":"CNPJ ou CPF Sancionado","required":false,"schema":{"type":"string"}},{"name":"nomeSancionado","in":"query","description":"Nome, nome fantasia ou razÃ£o social do Sancionado","required":false,"schema":{"type":"string"}},{"name":"orgaoSancionador","in":"query","description":"ÃrgÃ£o Sancionador","required":false,"schema":{"type":"string"}},{"name":"dataInicialSancao","in":"query","description":"Data Inicial da SanÃ§Ã£o (DD/MM/AAAA)","required":false,"schema":{"type":"string"}},{"name":"dataFinalSancao","in":"query","description":"Data Final da SanÃ§Ã£o (DD/MM/AAAA)","required":false,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CeisDTO"}}}}}}}},"/api-de-dados/ceis/{id}":{"get":{"tags":["SanÃ§Ãµes"],"summary":"Consulta um registro do CEIS pelo id","description":"Filtros mÃ­nimos: ID do registro","operationId":"ceis_1","parameters":[{"name":"id","in":"path","description":"ID do registro","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CeisDTO"}}}}}}},"/api-de-dados/ceaf":{"get":{"tags":["SanÃ§Ãµes"],"summary":"Consulta os registros do CEAF por CPF/ÃrgÃ£o de LotaÃ§Ã£o/PerÃ­odo","description":"Filtros mÃ­nimos:  PÃ¡gina (padrÃ£o = 1); ","operationId":"ceaf","parameters":[{"name":"cpfSancionado","in":"query","description":"CPF do sancionado","required":false,"schema":{"type":"string"}},{"name":"nomeSancionado","in":"query","description":"Nome do sancionado","required":false,"schema":{"type":"string"}},{"name":"orgaoLotacao","in":"query","description":"ÃrgÃ£o de lotaÃ§Ã£o","required":false,"schema":{"type":"string"}},{"name":"dataPublicacaoInicio","in":"query","description":"Data publicaÃ§Ã£o inÃ­cio (DD/MM/AAAA)","required":false,"schema":{"type":"string"}},{"name":"dataPublicacaoFim","in":"query","description":"Data publicaÃ§Ã£o fim (DD/MM/AAAA)","required":false,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"PÃ¡gina consultada","required":true,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CeafDTO"}}}}}}}},"/api-de-dados/ceaf/{id}":{"get":{"tags":["SanÃ§Ãµes"],"summary":"Consulta um registro do CEAF pelo id","description":"Filtros mÃ­nimos: ID do registro","operationId":"ceaf_1","pa
[...]
