# Configurações do Banco de Dados
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Configurações do OpenBao
BAO_ADDR=http://openbao:8200
BAO_TOKEN=

# APIs Externas
PORTAL_TRANSPARENCIA_API_KEY=
CONECTA_GOV_TOKEN=

# Autenticação
JWT_SECRET=

# Outras configurações
WEB_PORT=8080
VITE_API_URL=http://localhost:4000
GF_ADMIN_USER=admin
GF_ADMIN_PASSWORD=
